{% extends 'base.html' %}

{% block title %}Consulta{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Consultas</h1>
  <a href="{% url 'marcarconsulta' %}" class="btn btn-primary mb-3">Cadastrar Consulta</a>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Paciente</th>
        <th>CPF</th>
        <th>Sintoma</th>
        <th>Enfermeiro(a)</th>
        <th>Médico</th>
        <th>Remédio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for consulta in consultas %}
        <tr>
          <td>{{ consulta.id_paciente.nome }}</td>
          <td>{{ consulta.id_paciente.cpf }}</td>
          <td>{{ consulta.id_paciente.sintoma }}</td>
          <td>{{ consulta.id_enfermeiro.nome }}</td>
          <td>{{ consulta.id_medico.nome }}</td>
          <td>{{ consulta.id_medicação.nome }}</td>
          <td>
            <a href="{% url 'editarConsulta' consulta.id %}" class="btn btn-warning btn-sm">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="{% url 'apagarConsulta' consulta.id %}" class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center">Nenhuma consulta encontrada.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
