{% extends 'base.html' %}

{% block title %}Consulta{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Consultas</h1>
  <a href="{% url 'marcarconsulta' %}" class="btn btn-primary mb-3">Cadastrar Consulta</a>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>ID do Paciente</th>
        <th>Doença</th>
        <th>Secretária</th>
        <th>Médico</th>
        <th>Remédio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for valor in consulta %}
        <tr>
          <td>{{ valor.id_paciente }}</td>
          <td>{{ valor.doença }}</td>
          <td>{{ valor.id_enfermeira }}</td>
          <td>{{ valor.id_medico }}</td>
          <td>{{ valor.id_medicação }}</td>
          <td>
            <a href="{% url 'editarConsulta' valor.id %}" class="btn btn-warning btn-sm">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="{% url 'apagarConsulta' valor.id %}" class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center">Nenhuma consulta encontrada.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
