{% extends 'base.html' %}

{% block title %}Lista de Remédios{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Remédios</h1>
  <a href="" class="btn btn-primary mb-3">Cadastrar Remédio</a>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Nome do Remédio</th>
        <th>Laboratório</th>
        <th>Bula</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for valor in remedio %}
        <tr>
          <td>{{ valor.nome }}</td>
          <td>{{ valor.laboratorio }}</td>
          <td>{{ valor.bula }}</td>
          <td>
              <a href="{% url 'editarpaciente' valor.id %}" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a href="{% url 'editarpaciente' valor.id %}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">Nenhum remédio encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
