{% extends 'base.html' %}

{% block title %}Médicos{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Médicos</h1>
  <a href="cadastrarMedico" class="btn btn-primary mb-3">Cadastrar Médico</a>

  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Especialização</th>
        <th>Disponibilidade</th>
        <th>Turno</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for medico in medicos %}
        <tr>
          <td>{{ medico.nome }}</td>
          <td>{{ medico.cpf }}</td>
          <td>{{ medico.especializacao }}</td>
          <td>{{ medico.disponibilidade|yesno:"Sim,Não" }}</td>
          <td>{{ medico.turno}}</td>
          <td>{{ medico.situacao }}</td>
          <td>
            <a href="{% url 'detalharMedico' medico.id %}" class="btn btn-info btn-sm">
              <i class="fa fa-info" aria-hidden="true"></i>
            </a>
            <a href="{% url 'editarMedico' medico.id %}" class="btn btn-warning btn-sm">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center">Nenhum médico encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
